In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('./codeforces_filtered_users.csv')

df.head()

        Handle                   Rank        Country
0      jiangly  legendary grandmaster          China
1       ksun48  legendary grandmaster         Canada
2  Kevin114514  legendary grandmaster          China
3         Benq  legendary grandmaster  United States
4      tourist  legendary grandmaster        Belarus

In [5]:
df.isnull().sum()

Handle     0
Rank       0
Country    0
dtype: int64

In [6]:
len(df)

14121

In [8]:
df.duplicated().sum()

np.int64(0)

In [10]:
df['Country'].value_counts()

Country
India          5869
China          1912
Bangladesh      866
Russia          641
Egypt           579
               ...
Mayotte           1
Afghanistan       1
Mauritania        1
Eritrea           1
Montenegro        1
Name: count, Length: 154, dtype: int64

In [11]:
df['Rank'].value_counts()

Rank
pupil                        4370
specialist                   3142
expert                       2669
newbie                       2160
candidate master              773
master                        579
grandmaster                   155
international grandmaster     126
international master          111
legendary grandmaster          36
Name: count, dtype: int64